@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FBFFE4;
  --foreground: #3D8D7A;

  --card: #FFFFFF;
  --card-foreground: #3D8D7A;

  --popover: #FFFFFF;
  --popover-foreground: #3D8D7A;

  --primary: #3D8D7A;
  --primary-foreground: #FBFFE4;

  --secondary: #B3D8A8;
  --secondary-foreground: #3D8D7A;

  --muted: #A3D1C6;
  --muted-foreground: #3D8D7A;

  --accent: #A3D1C6;
  --accent-foreground: #3D8D7A;

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --border: #A3D1C6;
  --input: #A3D1C6;
  --ring: #3D8D7A;

  --chart-1: #3D8D7A;
  --chart-2: #B3D8A8;
  --chart-3: #FBFFE4;
  --chart-4: #A3D1C6;
  --chart-5: #B3D8A8;

  --radius: 0.625rem;

  --sidebar: #FBFFE4;
  --sidebar-foreground: #3D8D7A;
  --sidebar-primary: #3D8D7A;
  --sidebar-primary-foreground: #FBFFE4;
  --sidebar-accent: #A3D1C6;
  --sidebar-accent-foreground: #3D8D7A;
  --sidebar-border: #A3D1C6;
  --sidebar-ring: #3D8D7A;
}

.dark {
  --background: #3D8D7A;
  --foreground: #FBFFE4;

  --card: #A3D1C6;
  --card-foreground: #FBFFE4;

  --popover: #B3D8A8;
  --popover-foreground: #FBFFE4;

  --primary: #FBFFE4;
  --primary-foreground: #3D8D7A;

  --secondary: #A3D1C6;
  --secondary-foreground: #3D8D7A;

  --muted: #B3D8A8;
  --muted-foreground: #3D8D7A;

  --accent: #FBFFE4;
  --accent-foreground: #3D8D7A;

  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);

  --border: #A3D1C6;
  --input: #A3D1C6;
  --ring: #FBFFE4;

  --chart-1: #3D8D7A;
  --chart-2: #B3D8A8;
  --chart-3: #FBFFE4;
  --chart-4: #A3D1C6;
  --chart-5: #B3D8A8;

  --sidebar: #3D8D7A;
  --sidebar-foreground: #FBFFE4;
  --sidebar-primary: #B3D8A8;
  --sidebar-primary-foreground: #3D8D7A;
  --sidebar-accent: #A3D1C6;
  --sidebar-accent-foreground: #3D8D7A;
  --sidebar-border: #A3D1C6;
  --sidebar-ring: #FBFFE4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
